header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  width: 100%;
}

.headerLogo {
  width: 4.5rem;
  height: 4.5rem;
}

.headerLogo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.menuIcon {
  display: none;
}

/* 
Mobile Viewport Styling */
.sideMenuWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.closeIcon {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobileLogo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.mobileLogo > .headerLogo {
  width: 7rem;
  height: 7rem;
}

.navMobile {
  padding: 2rem 0;
}

@media (max-width: 786px) {
  .navDesktop {
    display: none;
  }

  .menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: var(--green);
    font-size: 2rem;
    cursor: pointer;

    border-radius: 50%;
    background-color: var(--green-hover);
  }
}
