.landingSection{
    padding: 1rem;
    min-height: 100vh;
    font-family: 'Noto Sans Mono', monospace;
}


.landingWrapper{
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    
    width: 78%;
    margin: 0 auto;
    

}

.landingWrapper > .mainHeading{
    font-size: clamp(2rem, 4vw, 3.25rem);
  
    line-height: 1.1;
    

    color: var(--lightest-slate);
}
.landingWrapper > .subHeading{
    margin-top: 0.8rem;
    color: var(--slate);
    line-height: 0.9;
    font-size: clamp(2rem, 4vw, 3.25rem);
    font-family: 'Roboto Condensed', sans-serif;
    

}

.para{
    width: 50%;
    font-size: 1rem;
   
    letter-spacing: 0.05rem;
    line-height: 1.7;
    font-weight: 300;
    color: var(--slate);
    margin: 1.5rem 0;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.sayHello{
    margin-top: 2rem;
    padding: 1rem;
}


.sayHello > a{
    font-size: .8rem;
  
    padding: 1rem 1.75rem;
    border-radius: 0.25rem;
    border: var(--green) 1px solid;
    text-decoration: none;
    color: var(--green);

}

.sayHello > a:hover{
    background-color: var(--green-hover);
}




















@media (max-width: 786px){
    .landingWrapper{
        width: 100%;  
    }
    .landingWrapper > .mainHeading {
        font-size: clamp(1.3rem, 4vw, 2rem);
   
    }

    .landingWrapper > .mainHeading::before {
        content: "Hi, my name is";
        color: var(--green);
        font-size: 0.7rem;
        line-height: 2;
      

    }

    .landingWrapper > .subHeading{
        font-size: clamp(0.8rem, 4vw, 1.2rem);
    }
    .para{
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.02rem;
        width: 80%;
    }
    .sayHello > a{
        font-size: .7rem;
  
        padding: 0.75rem 1.25rem;
    }
}

@media (max-width: 480px){
    .landingSection{
        min-height: 80vh;
    }
}