.projectCard {
  flex: 1 0 calc(33.33% - 20px);

  background-color: var(--light-navy) !important;
  color: var(--slate);

  height: 20rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconOne,
.iconTwo {
  font-size: 1.5rem;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconOne > a {
  text-decoration: none;
  color: var(--green);
}

.iconTwo > a {
  text-decoration: none;
  color: var(--green);
}

.projectCard:hover .cardContent > h4 {
  color: var(--green);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}
.cardContent > h4 {
  color: var(--lightest-slate);
  font-size: clamp(0.5rem, 4vw, 1rem);
  letter-spacing: 0.05rem;
  text-align: center;
}
.cardContent > p {
  text-align: justify;
  line-height: 1.5;
}

.cardContent > ul {
  list-style: none;
  /* position: absolute; */
  display: flex;

  gap: 1rem;
}
.cardContent > ul > li {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--green);
}

@media (max-width: 1080px) {
  .cardContent > h4 {
    color: var(--lightest-slate);
    font-size: clamp(0.5rem, 4vw, 1rem);
    letter-spacing: 0.06rem;
    font-weight: 700;
  }
}

@media (max-width: 786px) {
}
